<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
<h1>電子錠</h1>
{{#if error}}
    <h2>{{error}}</h2>
{{/if}}
<form action="/" method="post">

    <input name="number" placeholder="enter code" type="number" />
    <input type="submit" value="送信">
</form>
<style>
        body {
            text-align: center;
        }
    h2 {
        color: red;
    }
    </style>
</body>
</html>